@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "Josefin Sans";
    margin: auto;
    padding: auto;

}

body{
    padding: 32px;
}

p{
    margin: 2px 0px;
}

h2{
    font-family: "Ubuntu Mono";
    margin: 4px 0;
    padding: 4px 8px;
    border-top: 4px solid;
    background-color: lightgrey;
}
.container{
    margin: 16px 0px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: solid 1px;
}
.info {
    display: inline-block;
}

.strong{
    font-weight: bold;
}

.btn{
    border: 2px solid #2ea44f;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    padding: 4px;
    margin: 4px 0;
    text-transform: uppercase;
    color: #2ea44f;
}

.btn:hover{
    background-color: #2ea44f;
    color: white;
    cursor: pointer;
}